<!DOCTYPE html>
<html>
<head>
  <title>SIM PICKER</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
  <h1>SIM PICKER</h1>
    <form action="/reg" method="POST" enctype="multipart/form-data">
    <select name="area">
      <option value="52">redhills</option>
      <option value="66">puzhal</option>
    </select>
    <input type="submit" value="search">
    </form>
</body>
</html>
